/* 基本散点图组件 */
.h5_component_bar{ 
	padding: 0 0 0 30px;
}
.h5_component_bar .line{ 
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	margin-bottom: 15px;
 }
 .h5_component_bar .name{
 	width: 60px;
 	float: left;
 	text-align: center;
 	position: absolute;
 	left: -30px;
 }
.h5_component_bar .rate{ 
	margin-left: 5px;
	height: 10px;
	position: relative;
	float: left;
 }

.h5_component_bar .rate .bg{
 	background-color: #2797CC;
 	width: 0%;
 	height: 100%;
 	border-radius: 10px;
 }

.h5_component_bar .per{
  	width: 20px;
  	color: #fff;
  	float: left;
  	margin-left: 5px;
  	opacity: 0;
  	position: absolute;
	right: 10px;
}

.h5_component_bar_load .rate .bg{
	-webkit-transition:all 1s 0.5s;
	transition:all 1s;
	width: 100%;
}

.h5_component_bar_load .per{
	-webkit-transition:all 1s 1.5s;
	transition:all 1s 1s;
	-webkit-opacity:1;
}

.h5_component_bar_leave .rate .bg{
	width: 0;
}

.h5_component_bar_leave .per{
	-webkit-opacity:0;
}